.section__article {
  display: grid;
}

.article__card {
  background-color: #F76E11;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
  margin: 6px;
}

.Header {
  background-color: #FF9F45;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 25px;
}

.card__title {
  text-transform: uppercase;
  font-weight: bold;
}

.card__text {
  font-weight: bold;
  word-spacing: 9px;
}

.card__button{
  background-color: #FF9F45;
  color: white;
  border-radius: 10px;
  border: #F76E11;
}


.logo{
  width: 50px;
  height: 50px;
}

