body {
  margin: 0 !important;
  font-family: "Maiden Orange", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffbc80 !important;
  letter-spacing: 1.5px !important;
}
